﻿<!-- container-fluid-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">About</a>
            </li>
        </ol>
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-6 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">{{vm.messages.length}} New Messages!</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">{{vm.alerts.length}} New Notifications!</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--  Chart -->
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i>Your Views
                    </div>
                    <div class="card-body">
                        <canvas id="line" class="chart chart-line" chart-data="vm.chart.area.data"
                                chart-labels="vm.chart.area.labels" chart-series="vm.chart.area.series" chart-options="vm.chart.area.options"
                                chart-dataset-override="vm.chart.area.datasetOverride"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i>Your Orders
                    </div>
                    <div class="card-body">
                        <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="vm.chart.doughnut.data" chart-labels="vm.chart.doughnut.labels"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
        <!-- DataTables Card-->
        <div class="card col-12 mb-3 p-0">
            <div class="card-header">
                <i class="fa fa-table"></i> Customers
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Client Name</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>Orders</th>
                                <th>Deadline</th>
                                <th>Price Order</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in vm.customers track by c.id">
                                <td>{{c.clientName}}</td>
                                <td>{{c.email}}</td>
                                <td>{{c.country}}</td>
                                <td>{{c.orders}}</td>
                                <td>{{c.deadline}}</td>
                                <td>{{c.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <!-- end container-fluid-->
</div>