﻿/*portfolio*/
.filtr-container {
    width: 100%;
}

.filtr-item {
    padding: 1rem;
    .hoverd-area {
        height: 100%;
        width: 100%;
        position: relative;
        text-align: center;
        img{
            width: 100%;
        }
    }
    .hoverd-area:hover{
        .img-hover{
            width:100%;
        }
    }
}
.simplefilter {
    padding-left: 15px;
}
.item-desc {
    background-color: $black-500;
    color: $white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    z-index: 1;
    bottom: 5px;
    left: 0;
    right: 0;
}

/* Filter controls */

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.simplefilter li {
    color: $white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 14px;
    background-color: $blue;
    margin: 5px 0;

    &.active {
        background-color: $gray-800;
    }
}
.custom-bg-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
}
.img-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black-500;
    color: $white;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    span{
        white-space: nowrap;
        color: $white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}
.filtr-item .info {
    margin-top: -1px;
    padding: 5px;
    border: 1px solid #E1E1E1;
    border-radius: 0 0 5px 5px;
}
.filtr-item .info {
    .price {
        float: left;
        margin-bottom: 5px;
        h5 {
            line-height: 20px;
            margin: 0;
        }
    }
    .rating {
        color: #777;
    }
    .price-text-color {
        color: #20A1FF;
        width: 15%;
    }
    .separator {
        border-top: 1px solid #E1E1E1;
    }
    .clear-left {
        clear: left;
    }
    .btn-add {
        text-align: center;
        margin: 5px;
    }
}
/* Search control */
.search-row {
    .filtr-search {
        text-transform: uppercase;
    }
}
.crop-area {
  overflow: hidden;
  width:400px;
  height:250px;
  float: left;
}