﻿<div class="card col-xl-12 col-md-12 col-sm-12 mb-3 p-0">
    <div class="card-header">
        <i class="fa fa-area-chart"></i>Developer Skills
    </div>
    <div class="card-body">
        <div class="progress" ng-repeat="skill in $ctrl.devSkills">
           <div class="progress-bar bg-success" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100">{{skill.name}}</div>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>