﻿<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" ng-if="vm.user">
    <a class="navbar-brand" ui-sref='home'>Welcome</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="accordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="User">
                <div class="profile-userpic col-xl-12 col-md-12 col-sm-6">
                    <img ng-src="{{vm.userProfilePath}}" class="img-responsive" alt="profile-user">
                </div>
                <div class="profile-usertitle col-xl-12 col-md-12 col-sm-6">
                    <div class="profile-usertitle-name">{{vm.user.firstName}} {{vm.user.lastName}}</div>
                    <div class="profile-usertitle-job"> {{vm.user.occupation}} </div>
                </div>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
                <a class="nav-link" ui-sref='home'>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span class="nav-link-text">Home</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Buy">
                <a class="nav-link" ui-sref='skills'>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="nav-link-text">Buy</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Portfolio">
                <a class="nav-link" ui-sref='portfolio'>
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    <span class="nav-link-text">Portfolio</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Friends">
                <a class="nav-link" ui-sref='friends'>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="nav-link-text">Friends</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSettings" data-parent="#accordion"
                    ng-click="vm.removeSidenavToggled($event)">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="nav-link-text">Settings</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseSettings">
                    <li>
                        <a ui-sref='account-settings'>Account Settings </a>
                    </li>
                    <li>
                        <a ui-sref='portfolio-settings'>Portfolio Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--toggle nav-->
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler" ng-click="vm.toggleNav()">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <!--messages and alerts-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ng-class="{'show':vm.isMessage}" ng-mouseleave="vm.isMessage =false">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    ng-click="vm.showDropdownData(1)">
                    <i class="fa fa-fw fa-envelope"></i>
                    <span class="d-lg-none">
                        Messages
                        <span class="badge badge-pill badge-primary">{{vm.messages.length}}</span>
                    </span>
                    <span class="indicator text-primary d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown" ng-class="{'show':vm.isMessage}">
                    <h6 class="dropdown-header">New Messages:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" ng-repeat="message in vm.messages track by message.id" ng-if="!vm.isDataLoading">
                        <strong>{{message.name}}</strong>
                        <span class="small float-right text-muted">{{message.date}}</span>
                        <div class="dropdown-message small">{{message.message}}</div>
                    </a>
                    <i class="fa fa-spinner" aria-hidden="true" ng-if="vm.isDataLoading"></i>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small">View all messages</a>
                </div>
            </li>
            <li class="nav-item dropdown" ng-class="{'show':vm.isAlert}" ng-mouseleave="vm.isAlert =false">
                <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    ng-click="vm.showDropdownData(2)">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">
                        Alerts
                        <span class="badge badge-pill badge-warning">{{vm.alerts.length}}</span>
                    </span>
                    <span class="indicator text-warning d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="alertsDropdown" ng-class="{'show':vm.isAlert}">
                    <h6 class="dropdown-header">New Alerts:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" ng-repeat="alert in vm.alerts track by alert.id" ng-if="!vm.isDataLoading">
                        <span ng-class="{'text-success':alert.status==='success', 'text-danger':alert.status==='danger'}">
                            <strong>
                                <i class="fa  fa-fw" ng-class="{'fa-long-arrow-up' :alert.status==='success','fa-long-arrow-down' :alert.status==='danger'}"></i>{{alert.name}}
                            </strong>
                        </span>
                        <span class="small float-right text-muted">{{alert.date}}</span>
                        <div class="dropdown-message small">{{alert.message}}</div>
                    </a>
                    <i class="fa fa-spinner" aria-hidden="true" ng-if="vm.isDataLoading"></i>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small">View all alerts</a>
                </div>
            </li>
            <!-- cart -->
            <li class="nav-item">
                <a class="nav-link my-2 my-lg-0 mr-lg-2" ui-sref="shopping-bag">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
            <!--search-->
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </li>
            <!--logout-->
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#modal" ng-click="vm.logOut()">
                    <i class="fa fa-fw fa-sign-out"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</nav>