<div class="content-wrapper">
    <div class="container-fluid">
        <!-- user details -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-body">
                        <div class="mt-element-card mt-element-overlay">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1 mb-3">
                                            <img ng-src="{{vm.user.file}}">
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" ng-click="vm.zoomImage(vm.user.file)">
                                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" ng-click="vm.removeFriend(vm.user)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name">{{vm.user.firstName}} {{vm.user.lastName}}</h3>
                                            <p class="mt-card-email font-grey-mint">{{vm.user.occupation}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Filter Controls - Simple Mode -->
        <div class="row" ng-if="vm.imageCategories.length">
            <!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
                for an unfiltered gallery and then the values of your categories to filter between them -->
            <ul class="simplefilter">
                <li class="active" data-filter="all" ng-click="vm.addItemClass($event)">All</li>
                <li data-filter="{{category.category}}" ng-click="vm.addItemClass($event)" ng-repeat="category in vm.imageCategories" ng-init="category.category = $index;category.category=category.category+1; ">{{category.name}}</li>
            </ul>
        </div>

        <!-- Search control -->
        <div class="search-row" ng-if="vm.portfolioData.length">
            <input type="text" class="form-control filtr-search" placeholder="Search..." name="filtr-search" data-search>
        </div>
        <div class="row" ng-if="vm.portfolioData.length">
            <!-- This is the set up of a basic gallery, your items must have the categories they belong to in a data-category
                    attribute, which starts from the value 1 and goes up from there -->
            <div class="filtr-container">
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="{{data.category}}" data-sort="{{data.portfolioName}}" ng-repeat="data in vm.portfolioData">
                    <div class="hoverd-area">
                        <img ng-src="{{data.path}}" class="img-resonsive" />
                        <div class="img-hover">
                            <span>
                                <i class="fa fa-search-plus" aria-hidden="true" ng-click="vm.zoomImage(data.path)"></i>
                            </span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price col-md-6">
                                <h5>{{data.portfolioName}}</h5>
                                <h5 class="price-text-color">${{data.price}}</h5>
                            </div>
                            <div class="rating hidden-sm col-md-6">
                                <i class="price-text-color fa fa-star"></i>
                                <i class="price-text-color fa fa-star">
                                </i>
                                <i class="price-text-color fa fa-star"></i>
                                <i class="price-text-color fa fa-star">
                                </i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="separator clear-left">
                            <p class="btn-add">
                                <a href class="hidden-sm" ng-click="vm.addToCart(data);">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>