<!-- container-fluid-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Shopping cart</a>
            </li>
        </ol>
        <div class="container">
            <div class="stepwizard col-md-offset-3">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" class="btn btn-success btn-circle">
                            <i class="fa fa-circle-o" aria-hidden="true"></i>
                        </a>
                        <p>My Cart</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" class="btn btn-primary btn-circle" disabled="disabled">
                            <i class="fa fa-circle-o" aria-hidden="true"></i>
                        </a>
                        <p>Customer Information</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" class="btn btn-primary btn-circle" disabled="disabled">
                            <i class="fa fa-circle-o" aria-hidden="true"></i>
                        </a>
                        <p>Shipping & Payment Method</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-4" class="btn btn-primary btn-circle" disabled="disabled">
                            <i class="fa fa-circle-o" aria-hidden="true"></i>
                        </a>
                        <p>Order Review</p>
                    </div>
                </div>
            </div>

            <form role="form" action="" method="post">
                <div class="row setup-content active" id="step-1">
                    <div class="col-md-12 col-md-offset-3">
                        <div class="col-md-12">
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th>Quantity</th>
                                        <th>User Name</th>
                                        <th>Product </th>
                                        <th>Price</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="product in vm.products track by product.item.imageId">
                                    <tr>
                                        <td>
                                            <input type="number" ng-model="product.item.quantity" name="quantity" class="form-control col-3" min="1" />
                                        </td>
                                        <td>
                                            {{product.userName}}
                                        </td>
                                        <td>
                                            <span>
                                                <img ng-src="{{product.item.path}}" width="100" class="img-thumbnail rounded float-left" alt="product-image ">
                                            </span>
                                            <td> ${{product.item.price}}</td>
                                            <td>
                                                <button type="button" name="remove" class="btn btn-danger">
                                                    <i class="fa fa-times " aria-hidden="true"></i>
                                                </button>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary nextBtn btn-lg pull-right " type="button" ng-click="vm.nextStep()">Next</button>
                        </div>
                    </div>
                </div>
                <div class="row setup-content " id="step-2 ">
                    <div class="col-xs-6 col-md-offset-3 ">
                        <div class="col-md-12 ">
                            <h3> Step 2</h3>
                            <div class="form-group ">
                                <label class="control-label ">Company Name</label>
                                <input maxlength="200 " type="text " required="required " class="form-control
                                                " placeholder="Enter Company Name " />
                            </div>
                            <div class="form-group ">
                                <label class="control-label ">Company Address</label>
                                <input maxlength="200 " type="text " required="required " class="form-control
                                                " placeholder="Enter Company Address " />
                            </div>
                            <button class="btn btn-primary nextBtn btn-lg pull-right " type="button ">Next</button>
                        </div>
                    </div>
                </div>
                <div class="row setup-content " id="step-3 ">
                    <div class="col-xs-6 col-md-offset-3 ">
                        <div class="col-md-12 ">
                            <h3> Step 3</h3>
                            <button class="btn btn-success btn-lg pull-right " type="submit ">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="row setup-content " id="step-4 ">
                    <div class="col-xs-6 col-md-offset-3 ">
                        <div class="col-md-12 ">
                            <h3> Step 4</h3>
                            <button class="btn btn-success btn-lg pull-right " type="submit ">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>