﻿<!-- container-fluid-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Skills</a>
            </li>
        </ol>
        <!-- Skills Chart -->
        <div class="card col-xl-12 col-md-12 col-sm-12 mb-3 p-0">
            <div class="card-header">
                <i class="fa fa-area-chart"></i>My Skills
            </div>
            <div class="card-body">
                <canvas id="base" class="chart-horizontal-bar"
                        chart-data="vm.chart.horizontal.data" chart-labels="vm.chart.horizontal.labels"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <!--Developer skills-->
        <developer-skills dev-skills="vm.devSkills"></developer-skills>
    </div>
</div>