﻿<!-- Logout Modal-->
<div class="modal-header">
    <h3 class="modal-title">
        Do you want to {{vm.entityName}} ?
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.cancel()">No</button>
    <button type="button" class="btn btn-primary" ng-click="vm.ok()">Ok</button>
</div>