﻿<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Forgot your password?</h4>
                <p>Enter your email address and we will send you instructions on how to reset your password.</p>
            </div>
            <div ng-form="resetForm">
                <div class="form-group">
                    <div class='text-left' ng-class="{'has-error' : resetForm.email.$invalid && resetForm.email.$touched}">
                        <input name="email" type='email' class='form-control' ng-model='vm.user.email' ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                            required />
                        <div ng-messages="resetForm.email.$error" ng-if="resetForm.email.$invalid && resetForm.email.$touched">
                            <span ng-message="required" class="help-block">Email is required.</span>
                        </div>
                        <div ng-messages="resetForm.email.$error" ng-if="resetForm.email.$invalid && resetForm.email.$touched">
                            <span ng-message="pattern" class="help-block">Email invalid.</span>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" ng-class="{'disabled':resetForm.$invalid}" ng-click="vm.submitResetForm(resetForm)"
                    ng-disabled="formresetForm.$invalid" href>Send</a>
            </div>
            <div class="text-center">
                <a class="d-block small mt-3" ui-sref="register">Register an Account</a>
                <a class="d-block small" ui-sref="login">Login Page</a>
            </div>
        </div>
        <div class="card-footer" ng-if="vm.alerts.length">
            <div uib-alert ng-repeat="alert in vm.alerts" typeof="{{alert.type}}" ng-class="'alert-' + (alert.type)" close="vm.alerts.splice(index, 1)">{{alert.message}}</div>
        </div>
    </div>
</div>