﻿<!--login-->
<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
        <div ng-form="form">
            <div class="form-group">
                <div class='text-left' ng-class="{'has-error' : form.email.$invalid && form.email.$touched}">
                    <label for="email">Email</label>
                    <input name="email" type='email' class='form-control' ng-model='vm.user.email' ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                        required />
                    <div ng-messages="form.email.$error" ng-if="form.email.$invalid && form.email.$touched">
                        <span ng-message="required" class="help-block">Email is required.</span>
                    </div>
                    <div ng-messages="form.email.$error" ng-if="form.email.$invalid && form.email.$touched">
                        <span ng-message="pattern" class="help-block">Email invalid.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class='text-left' ng-class="{'has-error' : form.password.$invalid && form.password.$touched}">
                    <label for="password">Password</label>
                    <input name="password" type='password' class='form-control' ng-model='vm.user.password' required />
                    <div ng-messages="form.password.$error" ng-if="form.password.$invalid && form.password.$touched">
                        <span ng-message="required" class="help-block">Password is required.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" ng-model='vm.user.rememberPassword'> Remember Password
                    </label>
                </div>
            </div>
            <a class="btn btn-primary btn-block" ng-class="{'disabled':form.$invalid}" ng-click="vm.submitLoginForm(form)" ng-disabled="form.$invalid"
                href>Login</a>
        </div>
        <div class="text-center">
            <a class="d-block small mt-3" ui-sref="register">Register an Account</a>
            <a class="d-block small" ui-sref="forgotPassword">Forgot Password?</a>
        </div>
    </div>
    <div class="card-footer" ng-if="vm.alerts.length">
        <div uib-alert ng-repeat="alert in vm.alerts" typeof="{{alert.type}}" ng-class="'alert-' + (alert.type)" close="vm.alerts.splice(index, 1)">{{alert.message}}</div>
    </div>
</div>