﻿<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <div ng-form="formRegister">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class='text-left' ng-class="{'has-error' : formRegister.firstName.$invalid && formRegister.firstName.$touched}">
                                <label for="firstName">First name</label>
                                <input name="firstName" type='text' class='form-control' ng-model='vm.user.firstName' required />
                                <div ng-messages="formRegister.firstName.$error" ng-if="formRegister.firstName.$invalid && formRegister.firstName.$touched">
                                    <span ng-message="required" class="help-block">First Name is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='text-left' ng-class="{'has-error' : formRegister.lastName.$invalid && formRegister.lastName.$touched}">
                                <label for="lastName">Last name</label>
                                <input name="lastName" type='text' class='form-control' ng-model='vm.user.lastName' required />
                                <div ng-messages="formRegister.lastName.$error" ng-if="formRegister.lastName.$invalid && formRegister.lastName.$touched">
                                    <span ng-message="required" class="help-block">First Name is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class='text-left' ng-class="{'has-error' : formRegister.email.$invalid && formRegister.email.$touched}">
                        <label for="email">Email address</label>
                        <input name="email" type='email' class='form-control' ng-model='vm.user.email' ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                            required />
                        <div ng-messages="formRegister.email.$error" ng-if="formRegister.email.$invalid && formRegister.email.$touched">
                            <span ng-message="required" class="help-block">Email is required.</span>
                        </div>
                        <div ng-messages="formRegister.email.$error" ng-if="formRegister.email.$invalid && formRegister.email.$touched">
                            <span ng-message="pattern" class="help-block">Email invalid.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class='text-left' ng-class="{'has-error' : formRegister.password.$invalid && formRegister.password.$touched}">
                                <label for="password">Password</label>
                                <input name="password" type='password' class='form-control' ng-model='vm.user.password' required title="Password must contain between 6 and 12 characters, including UPPER/lowercase and numbers"
                                    ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/i" />
                                <div ng-messages="formRegister.password.$error" ng-if="formRegister.password.$invalid && formRegister.password.$touched">
                                    <span ng-message="required" class="help-block">Password is required.</span>
                                </div>
                                <div ng-messages="formRegister.password.$error" ng-if="formRegister.password.$invalid && formRegister.password.$touched">
                                    <span ng-message="pattern" class="help-block">Password must contain between 6 and 12 characters, including UPPER/lowercase and numbers.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='text-left' ng-class="{'has-error' : formRegister.confirmPassword.$invalid && formRegister.confirmPassword.$touched}">
                                <label for="confirmPassword">Confirm Password</label>
                                <input name="confirmPassword" type='password' class='form-control' ng-model='vm.user.confirmPassword' required ng-change="vm.checkPassword(vm.user.password, vm.user.confirmPassword, formRegister)"
                                    title="Please enter the same Password as above" />
                                <div ng-messages="formRegister.confirmPassword.$error" ng-if="formRegister.confirmPassword.$invalid && formRegister.confirmPassword.$touched">
                                    <span ng-message="required" class="help-block">Confirm Password is required.</span>
                                </div>
                                <div ng-messages="formRegister.confirmPassword.$error" ng-if="formRegister.confirmPassword.$error.validationError">
                                    <span ng-message="validationError" class="help-block">Confirm Password is not the same with Password.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class='text-left'>
                                <label for="occupation">Occupation</label>
                                <input name="occupation" type='text' class='form-control' ng-model='vm.user.occupation' />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class='text-left' ng-class="{'has-error' : formRegister.file.$invalid && formRegister.file.$touched}">
                                <input type="file" ngf-select="vm.updateModel()" ng-model="picFile" name="file" ngf-accept="'image/*'" required="" ngf-max-size="2MB"
                                    ngf-model-invalid="vm.errorFile">
                                <div class="col-sm-6 col-md-3">
                                    <img ng-show="formRegister.file.$valid" ngf-thumbnail="picFile" class="img-responsive">
                                    <button ng-click="picFile = null" ng-show="picFile" class="btn btn-success">Remove</button>
                                </div>

                                <div ng-messages="formRegister.file.$error" ng-if="formRegister.file.$invalid && formRegister.file.$touched">
                                    <span ng-message="required" class="help-block">Image is required.</span>
                                </div>
                                <div ng-messages="formRegister.file.$error" ng-if="formRegister.file.$invalid && formRegister.file.$touched">
                                    <span ng-message="maxSize" class="help-block">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" ng-class="{'disabled':formRegister.$invalid}" ng-click="vm.submitRegisterForm(formRegister,picFile)"
                    ng-disabled="formRegister.$invalid" href>Register</a>
            </div>
            <div class="text-center">
                <a class="d-block small mt-3" ui-sref="login">Login Page</a>
                <a class="d-block small" ui-sref="forgotPassword">Forgot Password?</a>
            </div>
        </div>
        <div class="card-footer" ng-if="vm.alerts.length">
            <div uib-alert ng-repeat="alert in vm.alerts" typeof="{{alert.type}}" ng-class="'alert-' + (alert.type)" close="vm.alerts.splice(index, 1)">{{alert.message}}</div>
        </div>
    </div>
</div>