<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <div ng-form="resetForm">
                <div class="form-group">
                    <div class='text-left' ng-class="{'has-error' : resetForm.password.$invalid && resetForm.password.$touched}">
                        <label for="password">New Password</label>
                        <input name="password" type='password' class='form-control' ng-model='vm.user.password' required title="Please enter the old password!"
                            ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/i" />
                        <div ng-messages="resetForm.password.$error" ng-if="resetForm.password.$invalid && resetForm.password.$touched">
                            <span ng-message="required" class="help-block">Password is required.</span>
                        </div>
                        <div ng-messages="resetForm.password.$error" ng-if="resetForm.password.$invalid && resetForm.password.$touched">
                            <span ng-message="pattern" class="help-block">Password must contain between 6 and 12 characters, including UPPER/lowercase and numbers.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class='text-left' ng-class="{'has-error' : resetForm.confirmPassword.$invalid && resetForm.confirmPassword.$touched}">
                        <label for="confirmPassword">Confirm Password</label>
                        <input name="confirmPassword" type='password' class='form-control' ng-model='vm.user.confirmPassword' required ng-change="vm.checkPassword(vm.user.password, vm.user.confirmPassword, resetForm)"
                            title="Please enter the same Password as above" />
                        <div ng-messages="resetForm.confirmPassword.$error" ng-if="resetForm.confirmPassword.$invalid && resetForm.confirmPassword.$touched">
                            <span ng-message="required" class="help-block">Confirm Password is required.</span>
                        </div>
                        <div ng-messages="resetForm.confirmPassword.$error" ng-if="resetForm.confirmPassword.$error.validationError">
                            <span ng-message="validationError" class="help-block">Confirm Password is not the same with Password.</span>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" ng-class="{'disabled':resetForm.$invalid}" ng-click="vm.submitResetForm(resetForm)"
                    ng-disabled="formresetForm.$invalid" href>Reset Password</a>
            </div>
            <div class="text-center">
                <a class="d-block small mt-3" ui-sref="register">Register an Account</a>
                <a class="d-block small mt-3" ui-sref="forgotPassword">Forgot Password?</a>
                <a class="d-block small" ui-sref="login">Login Page</a>
            </div>
        </div>
        <div class="card-footer" ng-if="vm.alerts.length">
            <div uib-alert ng-repeat="alert in vm.alerts" typeof="{{alert.type}}" ng-class="'alert-' + (alert.type)" close="vm.alerts.splice(index, 1)">{{alert.message}}</div>
        </div>
    </div>
</div>