﻿<footer class="sticky-footer" ng-if="vm.year">
    <div class="container">
        <div class="text-center">
            <small>Copyright © User Profile {{vm.year}}</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>