<!-- container-fluid-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Upload images for your portfolio</a>
            </li>
        </ol>

        <div class="col-xl-12 col-sm-12 mb-3">
            <div ng-form="portfolioForm">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-9" ng-if="vm.portfolio.length">
                            <select ng-model="vm.portfolioSelected" ng-options="item.id as item.name for item in vm.portfolio" class="form-control" ng-required="!isCreated">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-block btn-success" ng-click="isCreated = !isCreated" ng-disabled="vm.portfolioSelected?true:false">Create a new one</button>
                        </div>
                        <div class="col-md-12">
                            <div class='text-left' ng-if="isCreated" ng-class="{'has-error' : portfolioForm.portfolioName.$invalid && portfolioForm.portfolioName.$touched}">
                                <label for="portfolioName">Portfolio name</label>
                                <input type="text" class='form-control' name="portfolioName" ng-model="vm.selected" ng-change="vm.portfolioSelected = vm.selected"
                                    required/>
                                <div ng-messages="portfolioForm.portfolioName.$error" ng-if="portfolioForm.portfolioName.$invalid && portfolioForm.portfolioName.$touched">
                                    <span ng-message="required" class="help-block">Portfolio name is required</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class='text-left' ng-class="{'has-error' : portfolioForm.file.$invalid && portfolioForm.file.$touched}">
                                <input type="file" ngf-select="vm.convert(picFiles)" ng-model="picFiles" multiple name="file" ngf-accept="'image/*'" ngf-model-invalid="vm.errorFile"
                                    required>

                                <div class="col-sm-12 col-md-12" ng-show="portfolioForm.file.$valid">
                                    <ul class="list-unstyled">
                                        <li ng-repeat="f in picFiles" ng-init="f.result=''">
                                            <div class="row " ng-if="f.path;">
                                                <div class="col-sm-6 col-md-6 crop-area ">
                                                    <img-crop image="f.path " result-image="f.result " area-type="square "></img-crop>
                                                    {{f.result}}
                                                </div>
                                                <div ng-show="portfolioForm.file.$valid " class="col-sm-3 col-md-3 crop-result ">
                                                    <h5>Cropped Image:</h5>
                                                    <img ng-src="{{f.result}} " />
                                                </div>
                                                <div ng-show="portfolioForm.file.$valid " class="col-sm-3 col-md-3 crop-result ">
                                                    <h5>Image Details:</h5>
                                                    <labe for="price">Price</labe>
                                                    <input type="number" name="price" ng-model="f.price" aria-label="price" class="form-control">
                                                    <span id="currency-default">{{f.price | currency}}</span>
                                                </div>
                                                <button ng-click="f.path=null " ng-show="f " class="btn btn-success ">Remove</button>
                                            </div>
                                            <span ng-if="!f.path ">
                                                <i class="fa fa-spinner " aria-hidden="true "></i>
                                            </span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div ng-messages="portfolioForm.file.$error " ng-if="portfolioForm.file.$invalid && portfolioForm.file.$touched ">
                                <span ng-message="required " class="help-block ">The images are required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-primary btn-block " ng-class="{ 'disabled':portfolioForm.$invalid} " ng-click="vm.uploadPortfolioImages(portfolioForm,picFiles,
                                            vm.portfolioSelected) " ng-disabled="portfolioForm.$invalid " href>Save images</a>
            </div>
        </div>
    </div>
</div>