﻿<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Friends</a>
            </li>
        </ol>
        <!-- Search control -->
        <div class="search-friend mb-3">
            <input type="text" ng-model="vm.selectedItem" placeholder="Search a friend..." uib-typeahead="friend as friend.fullName  for friend in vm.friends | filter:$viewValue"
                class="form-control mb-3" typeahead-show-hint="true" typeahead-min-length="0" typeahead-template-url="customTemplate.html"
                typeahead-on-select="vm.onSelect($item, $model, $label)" typeahead-no-results="noResults">
            <script type="text/ng-template" id="customTemplate.html">
              <a href>
                <img ng-src="{{match.model.file}}" width="20">
                <span ng-bind-html="match.model.firstName  | uibTypeaheadHighlight:query"></span>
                <span ng-bind-html="match.model.lastName  | uibTypeaheadHighlight:query"></span>
              </a>
            </script>
            <div ng-show="noResults && vm.friends.length">
                <i class="glyphicon glyphicon-remove"></i> No Results Found!
            </div>
            <div ng-show="noResults && !vm.friends.length">
                <i class="glyphicon glyphicon-remove"></i> Friend list is empty!
            </div>
            <div class="mt-element-card mt-element-overlay" ng-if="vm.friends.length && vm.selectedItem && !noResults">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="mt-card-item">
                        <div class="mt-card-avatar mt-overlay-1 mb-3">
                            <img ng-src="{{vm.selectedItem.file}}" class="img-responsive" />
                            <div class="mt-overlay">
                                <ul class="mt-info">
                                    <li>
                                        <a class="btn default btn-outline" ng-click="vm.addFriend(vm.selectedItem);vm.selectedItem=''">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-card-content">
                            <h3 class="mt-card-desc font-grey-mint">{{vm.selectedItem.firstName}} {{vm.selectedItem.lastName}}</h3>
                            <h3 class="mt-card-name">{{vm.selectedItem.occupation}}</h3>
                            <p class="mt-card-email font-grey-mint">{{vm.selectedItem.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-body">
                        <div class="mt-element-card mt-element-overlay">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="friend in vm.addedFriends  | orderBy:'firstName' track by friend._id">
                                    <div class="mt-card-item">
                                        <div class="mt-card-avatar mt-overlay-1 mb-3">
                                            <img ng-src="{{friend.file}}">
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" ui-sref="person({ personId: friend._id })">
                                                            <i class="fa fa-external-link" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" ng-click="vm.removeFriend(friend)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mt-card-content">
                                            <h3 class="mt-card-name">{{friend.firstName}} {{friend.lastName}}</h3>
                                            <p class="mt-card-email font-grey-mint">{{friend.occupation}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-if="!vm.addedFriends.length">
                                    Friend list empty!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>