<!-- container-fluid-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Account Settings</a>
            </li>
        </ol>

        <div class="col-xl-12 col-sm-12 mb-3">
            <div ng-form="form">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class='text-left'>
                                <label for="firstName">First name</label>
                                <input name="firstName" type='text' class='form-control' ng-model='vm.user.firstName' />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='text-left'>
                                <label for="lastName">Last name</label>
                                <input name="lastName" type='text' class='form-control' ng-model='vm.user.lastName' />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='text-left'>
                                <label for="occupation">Occupation</label>
                                <input name="occupation" type='text' class='form-control' ng-model='vm.user.occupation' />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='text-left' ng-class="{'has-error' : form.email.$invalid && form.email.$touched}">
                                <label for="email">Email address</label>
                                <input name="email" type='email' class='form-control' ng-model='vm.user.email' ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                                    required />
                                <div ng-messages="form.email.$error" ng-if="form.email.$invalid && form.email.$touched">
                                    <span ng-message="required" class="help-block">Email is required.</span>
                                </div>
                                <div ng-messages="form.email.$error" ng-if="form.email.$invalid && form.email.$touched">
                                    <span ng-message="pattern" class="help-block">Email invalid.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class='text-left' ng-class="{'has-error' : form.password.$invalid && form.password.$touched}">
                                <label for="password">New Password</label>
                                <input name="password" type='password' class='form-control' ng-model='vm.user.password' title="Please enter the old password!"
                                    ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,12}$/i" />
                                <div ng-messages="form.password.$error" ng-if="form.password.$invalid && form.password.$touched">
                                    <span ng-message="pattern" class="help-block">Password must contain between 6 and 12 characters, including UPPER/lowercase and numbers.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='text-left' ng-class="{'has-error' : form.confirmPassword.$invalid && form.confirmPassword.$touched}">
                                <label for="confirmPassword">Confirm Password</label>
                                <input name="confirmPassword" type='password' class='form-control' ng-model='vm.user.confirmPassword' ng-change="vm.checkPassword(vm.user.password, vm.user.confirmPassword, form)"
                                    title="Please enter the same Password as above" />
                                <div ng-messages="form.confirmPassword.$error" ng-if="form.confirmPassword.$error.validationError">
                                    <span ng-message="validationError" class="help-block">Confirm Password is not the same with Password.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class='text-left' ng-class="{'has-error' : form.file.$invalid && form.file.$touched}">
                                <input type="file" ngf-select="" ng-model="picFile" name="file" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-model-invalid="vm.errorFile">
                                <div class="col-sm-6 col-md-3">
                                    <img ng-show="form.file.$valid" ngf-thumbnail="picFile" class="img-responsive">
                                    <button ng-click="picFile = null" ng-show="picFile" class="btn btn-success">Remove</button>
                                </div>
                                <div ng-messages="form.file.$error" ng-if="form.file.$invalid && form.file.$touched">
                                    <span ng-message="maxSize" class="help-block">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" ng-class="{'disabled':form.$invalid}" ng-click="vm.submitForm(form,picFile)" ng-disabled="form.$invalid"
                    href>Save settings</a>
            </div>
        </div>

    </div>
    <!-- end container-fluid-->
</div>