﻿/*firends*/
.mt-element-card {

    .mt-card-item {
        border: 1px solid $gray-300;
        position: relative;
        margin-bottom: 30px;
    }
}

.mt-element-overlay {

    .mt-overlay-1 {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

        .mt-info {
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            color: $white;
            background-color: $transparent;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding: 0;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%) translateZ(0);
            -webkit-transform: translateY(-50%) translateZ(0);
            -ms-transform: translateY(-50%) translateZ(0);

            a {
                color:$white;
            }
        }

        img {
            display: block;
            position: relative;
            -webkit-transition: all .4s linear;
            transition: all .4s linear;
            width: 100%;
            height: auto;
        }

        .mt-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: $black-700;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
    }

    .mt-overlay-1:hover {

        .mt-overlay {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
        }

        .mt-info {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transition-delay: .2s;
            transition-delay: .2s;

            > li {
                list-style: none;
                display: inline-block;
                margin: 0 3px;
                border: 1px solid $white;
            }
        }
    }
}


.mt-element-card .mt-card-item .mt-card-content {
    text-align: center;

    .mt-card-name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .mt-card-email {
        font-size: 14px;
        margin: 0 0 10px;
    }
}

.search-friend{
    [uib-typeahead-popup].dropdown-menu {
        width: 100%;
        text-align: left;
        padding-left: 10px;
    }
    .collapse.in {
        display: block;
    }
}